{% extends "base/base.html" %}
{% block page_content %}
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Home Page</h1>

  </div>
  <!-- /.container-fluid -->
{% endblock page_content %}