{% extends "base/base.html" %}
{% block side_bar %}{% endblock side_bar %}
{% block top_bar %}{% endblock top_bar %}
{% block page_content %}{% endblock page_content %}
{% block footer %}{% endblock footer %}
{% block login%}
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenido a Django FacturaApp</h1>
                    <small class="text-danger">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                            {% endfor %}
 
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </small> 
                  </div>
                  <form class="user" method="post">
                  {% csrf_token %}
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" name="username" id="id_username" aria-describedby="emailHelp" placeholder="Ingrese su usuario...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="password" id="id_password" placeholder="Ingrese su clave">
                    </div>

                    {% comment %} {{ form.as_p }} {% endcomment %}

                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Recordarme</label>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-user btn-block">Acceder</button>
                    </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">olvidaste tu clave?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="register.html">registrate!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock login %}