{% extends "base/base.html" %}
{% block page_content %}
{% load my_tags %}

 <form action="" method="POST" class="form-inline">
    {% csrf_token %}
     <div class="container-fluid">
     <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Eliminar {{ obj_del|verbose_name_plural }}</h1>
          </div>
          <div class="row">

            <div class="col-xl-12 col-md-12 mb-12">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">¿Desea eliminar {{ obj_del.descripcion }}?</div>
                            <button type="submit" class="btn btn-success"><span class="far fa-trash-alt"></span> Sì, eliminar</button>
                            {% comment %} <a href="{% url 'inv:categoria_list' %}" class="btn btn-danger"><span class="fa fa-undo"></span>Cancelar</a> {% endcomment %}
                            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger"><span class="fa fa-undo"></span>Cancelar</a>
                        </div>
                        <div class="col-auto">
                        <i class="far fa-trash-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

    <div class="row">

            <div class="col-lg-6"></div>

            <div class="col-lg-6"></div>

   </div>

</form>
<br><br><br><br>
{% endblock page_content %}