{% extends "base/base.html" %}

{% block page_content %}
    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Listado de Marcas</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Acciones:</div>
              <a class="dropdown-item" href="{% url 'inv:marca_new' %}"><i class="far fa-calendar-plus"></i> Agregar</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          {% if not marca_list %}
            <div class="alert alert-info">No existen Marcas</div>
          {% else %}
          <table class="table table-striped table-hover">
              <thead>
                  <th>ID</th>
                  <th>Descripción</th>
                  <th>Estado</th>
                  <th>Fecha creación</th>
                  <th>Fecha modif.</th>
                  <!-- class all hace que la columna se muestre siempre -->
                  <th class="all">Acciones</th>
              </thead>
              <tbody>
                  {% for item in marca_list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.estado|yesno:"Activo, Inactivo" }}</td>
                        <td>{{ item.fecha_creacion|date:"d/m/Y H:i:s" }}</td>
                        <td>{{ item.fecha_modifica|date:"d/m/Y H:i:s" }}</td>
                        <td>
                            <a href="{% url 'inv:marca_edit' pk=item.id %}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
                            <a href="{% url 'inv:marca_inactivar' item.id %}" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
        </div>
      </div>
{% endblock page_content %}

{% block js_page %}
<script>
    $(document).ready(function(){
      $('.table').DataTable();
    })
</script>
{% endblock js_page %}