{% extends "base/base.html" %}
{% block page_content %}

 <form action="" method="POST" class="form-inline">
    {% csrf_token %}
     <div class="container-fluid">
        <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Unidades de Medida</h1>
          </div>
          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-6 col-md-6 mb-6">
              <div class="card border-left-{% if unidadmedida %}warning{% else %}success{% endif %} shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-{% if unidadmedida %}warning{% else %}success{% endif %} text-uppercase mb-1">
                            {% if unidadmedida %}Editar{% else %}Alta{% endif %} de Unidades de Medida
                        </div>

                        </div>
                        <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>

                    </div>

                    <div class="dropdown-divider"></div>

                    <div class="row">
                        <div class="col-10">
                            <div class="input-group">
                                {% comment %} <input type="text" name="descripcion" maxlength="100" class="form-control" required id="id_descripcion" placeholder="Descripción" value="{% if unidadmedida %} {{ unidadmedida.descripcion }}{% endif %}"> {% endcomment %}
                                {{ form.descripcion }}
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                {% comment %} <label for="id_estado">Estado</label>
                                <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if unidadmedida.estado %} checked{% endif %}> {% endcomment %}
                                {{ form.estado }}
                            </div>
                        </div>
                   
                        {% comment %} {{ form.as_p }}  {% endcomment %}
                    </div>

                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-10">
                        <button type="submit" class="btn btn-success"><span class="fa fa-save"></span>Guardar</button>
                        <a href="{% url 'inv:unidadmedida_list' %}" class="btn btn-danger"><span class="fa fa-undo"></span>Cancelar</a>
                    </div>
                </div>

                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->

          </div>

    <div class="row">

            <div class="col-lg-6"></div>

            <div class="col-lg-6"></div>

   </div>
</div>
</form>
<br><br><br><br>
{% endblock page_content %}